# ---------------------------------------------------------------------------- #
#                             Virtual Environments                             #
# ---------------------------------------------------------------------------- #
.tox
.condaenv*

# ---------------------------------------------------------------------------- #
#                                    Caches                                    #
# ---------------------------------------------------------------------------- #
__pycache__
.ruff_cache

# ---------------------------------------------------------------------------- #
#                                    Builds                                    #
# ---------------------------------------------------------------------------- #
build
*.egg-info
